{% extends 'VK_app/base.html'%}
{% block bodyblock %}
  <div class="container">
    <h1>This is the menu</h1>
    {% if appetizers_items %}
      <table>
        <thead>
          <th></th>
          <th>Name</th>
          <th>Price</th>
        </thead>
        {% for item in appetizers_items %}
        <tr>
          <td>{{ item.item_code }}</td>
          <td>{{ item.item_name }}</td>
          <td>{{ item.item_price }}</td>
        </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>No access to record</p>
    {% endif %}
  </div>
{% endblock %}
